# House Price Preiction

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data =pd.read_csv("D:\Coding Related\Programs in different languages\Python Programs\House_Price_Noisy_Dataset.csv")

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\netus\AppData\Local\Temp\ipykernel_18284\16404151.py:1: SyntaxWarning: invalid escape sequence '\C'
  data =pd.read_csv("D:\Coding Related\Programs in different languages\Python Programs\House_Price_Noisy_Dataset.csv")

In [10]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,gender
0,13300000,7420.0,4,2,3,yes,no,no,no,yes,2,yes,furnished,male
1,12250000,8960.0,4,4,4,yes,no,no,no,yes,3,no,furnished,male
2,12250000,9960.0,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,male
3,12215000,7500.0,4,2,2,yes,no,yes,no,yes,3,yes,furnished,female
4,11410000,7420.0,4,1,2,yes,yes,yes,no,yes,2,no,NaN,male

In [12]:
data.shape

(545, 14)